<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences-->
        <preference for="Crealoz\EasyAudit\Api\Data\AuditInterface" type="Crealoz\EasyAudit\Model\Audit"/>
        <preference for="Crealoz\EasyAudit\Api\Data\AuditRequestInterface" type="Crealoz\EasyAudit\Model\AuditRequest"/>
        <preference for="Crealoz\EasyAudit\Api\AuditRepositoryInterface" type="Crealoz\EasyAudit\Model\AuditRepository"/>
        <preference for="Crealoz\EasyAudit\Api\AuditRequestRepositoryInterface" type="Crealoz\EasyAudit\Model\AuditRequestRepository"/>
     <!-- End of Preferences -->
    <!-- Command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="runAuditCommand" xsi:type="object">Crealoz\EasyAudit\Console\RunAuditCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- End of Command -->
    <!-- Logger -->
    <virtualType name="Crealoz\EasyAudit\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/crealoz-audit.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Logger\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">audit</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Crealoz\EasyAudit\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Crealoz\EasyAudit\Service\Processor\Plugins">
        <arguments>
            <argument name="logger" xsi:type="object">Crealoz\EasyAudit\Logger\Logger</argument>
        </arguments>
    </type>
    <!-- End of Logger -->
    <!-- Processors -->
    <type name="Crealoz\EasyAudit\Service\Audit">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="xml" xsi:type="array">
                    <item name="di" xsi:type="array">
                        <item name="plugins" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Di\Plugins</item>
                        <item name="preferences" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Di\Preferences</item>
                    </item>
                    <item name="layout" xsi:type="array">
                        <item name="cacheable" xsi:type="object">Crealoz\EasyAudit\Service\Processor\View\Cacheable</item>
                    </item>
                </item>
                <item name="php" xsi:type="array">
                    <item name="helpers" xsi:type="array">
                        <item name="general" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Code\Helpers</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- End of Processors -->
    <!-- Files getters -->
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\DiXmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/code/</argument>
            <argument name="pattern" xsi:type="string">/^.+di\.xml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\LayoutXmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/view\/frontend\/layout\/.*\.xml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\PhtmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/templates\/.*\.phtml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\HelpersGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/code/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/Helper\/.*\.php$/i</argument>
        </arguments>
    </virtualType>
    <!-- End of Files getters -->
    <type name="Crealoz\EasyAudit\Service\Type\TypeFactory">
        <arguments>
            <argument name="typeMapping" xsi:type="array">
                <item name="php" xsi:type="string">Crealoz\EasyAudit\Service\Type\PHPCode</item>
                <item name="xml" xsi:type="string">Crealoz\EasyAudit\Service\Type\Xml</item>
            </argument>
        </arguments>
    </type>
    <!-- change default preference of DriverInterface -->
    <type name="Crealoz\EasyAudit\Service\Processor\Code\Helpers">
        <arguments>
            <argument name="driver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Crealoz\EasyAudit\Service\Processor\Di\Plugins\AroundChecker">
        <arguments>
            <argument name="driver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <!-- End of change default preference of DriverInterface -->

    <!-- DataSource for the grid -->
    <virtualType name="AuditGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Crealoz\EasyAudit\Model\ResourceModel\Audit\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">AuditGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="AuditGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="easyaudit_listing_data_source" xsi:type="string">Crealoz\EasyAudit\Model\ResourceModel\Audit\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Crealoz\EasyAudit\Model\ResourceModel\Audit\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">crealoz_easyaudit</argument>
            <argument name="resourceModel" xsi:type="string">Crealoz\EasyAudit\Model\ResourceModel\Audit</argument>
        </arguments>
    </virtualType>
</config>
