<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="runAuditCommand" xsi:type="object">Crealoz\EasyAudit\Console\RunAuditCommand</item>
            </argument>
        </arguments>
    </type>
    <!-- End of Command -->
    <!-- Logger -->
    <virtualType name="Crealoz\EasyAudit\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/crealoz-audit.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Logger\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">audit</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Crealoz\EasyAudit\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Crealoz\EasyAudit\Service\Processor\Plugins">
        <arguments>
            <argument name="logger" xsi:type="object">Crealoz\EasyAudit\Logger\Logger</argument>
        </arguments>
    </type>
    <!-- End of Logger -->
    <!-- Processors -->
    <type name="Crealoz\EasyAudit\Service\Audit">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="di" xsi:type="array">
                    <item name="plugins" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Di\Plugins</item>
                    <item name="preferences" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Di\Preferences</item>
                </item>
                <item name="view" xsi:type="array">
                    <item name="layout" xsi:type="array">
                        <item name="cacheable" xsi:type="object">Crealoz\EasyAudit\Service\Processor\View\Cacheable</item>
                    </item>
                </item>
                <item name="code" xsi:type="array">
                    <item name="helpers" xsi:type="object">Crealoz\EasyAudit\Service\Processor\Code\Helpers</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- End of Processors -->
    <!-- Files getters -->
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\DiXmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/code/</argument>
            <argument name="pattern" xsi:type="string">/^.+di\.xml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\LayoutXmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/view\/frontend\/layout\/.*\.xml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\PhtmlGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/templates\/.*\.phtml$/i</argument>
        </arguments>
    </virtualType>
    <virtualType name="Crealoz\EasyAudit\Service\FileSystem\HelpersGetter" type="Crealoz\EasyAudit\Service\FileSystem\FileGetter">
        <arguments>
            <argument name="path" xsi:type="string">app/code/</argument>
            <argument name="pattern" xsi:type="string">/^.+\/Helper\/.*\.php$/i</argument>
        </arguments>
    </virtualType>

</config>
